
%form.form-horizontal.well{ :method => 'POST', :action => "/buyatoken" }
  %fieldset
    %legend Purchase a token
     
    %label.control-label
      This will deduct 7000 credits from your balance, and purchase a token 
      with it. If you wish to continue, please click on the request token button.

    .form-actions
      %button.btn.btn-primary{ :type => 'submit' } Request token
    

